<div>
    <section class="content">

        <div class="box box-primary">
            <div class="box-header" style="text-align: center">
                <b><h3 class="strong ng-binding">Đề tài đồ án tốt nghiệp</h3></b>
                Học kì 2, năm học 2015-2016
            </div>
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i>  Tên đề tài</strong>
                <p class="text-muted">
                    Xây dựng website hỗ trợ quản lý quá trình làm đồ án tốt nghiệp
                </p>

                <hr>

                <strong><i class="fa fa-file-text-o margin-r-5"></i> Nội dung đề tài </strong>
                <p class="text-muted">
                    - Giáo vụ khoa có thể sử dụng chức năng quản lý sinh viên, giảng viên, đợt đồ án tốt nghiệp đồng thời với chức năng tìm kiếm.<br>
                    - Giảng viên có thể cập nhật hướng nghiên cứu của mình để sinh viên tham khảo, nhằm mục đích tìm kiếm giảng viên phù hợp với mình.<br>
                    - Giảng viên có thể đề xuất sinh viên để hướng dẫn nhằm đảm bảo rằng trong trường hợp sinh viên và giảng viên đã làm việc với nhau trước đó thì chắc chắn người hướng dẫn đồ án tốt nghiệp cho sinh viên chính là giảng viên đó (tất nhiên là sẽ có sự xác nhận đồng ý của sinh viên).
                </p>

                <hr>

                <button class="btn btn-primary">Cập nhật đề tài</button>

            </div><!-- /.box-body -->
        </div>

    </section>
</div>

<div class="modal fade viewing_report_modal"  aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div>
                <div class="modal-header" style="text-align: center">
                    <h3 class="strong">BÁO CÁO TIẾN ĐỘ ĐỢT {{viewing_report.ordinal}}</h3>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lưu nháp</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
</div>