<div class="row" ng-controller="StudentCtrl" ng-init="getStudents()">
    <div class="col-xs-12">

        <div class="row">
            <a href="#/student/add" class="btn btn-primary">Thêm sinh viên</a>
        </div>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mã sinh viên</th>
                        <th>Họ tên</th>
                        <th>Lớp</th>
                        <th>Ngày sinh</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in students">
                        <td><a href="">{{student.username}}</a></td>
                        <td>{{student.name}}</td>
                        <td>{{student.class}}</td>
                        <td>{{student.birthday}}</td>
                        <td>{{student.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>