<!--&lt;!&ndash; Top Menu Items &ndash;&gt;-->
<!--<ul class="nav navbar-custom navbar-right top-nav">-->

    <!--&lt;!&ndash; Message&ndash;&gt;-->
    <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu message-dropdown">-->
            <!--<li class="message-preview">-->
                <!--<a href="#">-->
                    <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                        <!--<div class="media-body">-->
                            <!--<h5 class="media-heading"><strong>John Smith</strong>-->
                            <!--</h5>-->
                            <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="message-preview">-->
                <!--<a href="#">-->
                    <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                        <!--<div class="media-body">-->
                            <!--<h5 class="media-heading"><strong>John Smith</strong>-->
                            <!--</h5>-->
                            <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="message-preview">-->
                <!--<a href="#">-->
                    <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                        <!--<div class="media-body">-->
                            <!--<h5 class="media-heading"><strong>John Smith</strong>-->
                            <!--</h5>-->
                            <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="message-footer">-->
                <!--<a href="">Read All New Messages</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->

    <!--&lt;!&ndash; Profile&ndash;&gt;-->
    <!--<li class="dropdown">-->
        <!--<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu">-->
            <!--<li>-->
                <!--<a href=""><i class="fa fa-fw fa-user"></i> Profile</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href=""><i class="fa fa-fw fa-envelope"></i> Inbox</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href=""><i class="fa fa-fw fa-gear"></i> Settings</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->
<!--</ul>-->

<header class="main-header" ng-controller="AuthCtrl">
    <!-- Logo -->
    <a href="" class="active logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>ITF</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>IT F</b>alcuty</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<img src="/resources/app/images/avatar.png" class="user-image" alt="User Image">-->
                        <i class="fa fa-fw fa-user"></i>
                        <span>Mai Liên</span>
                    </a>
                </li>
                <!--LogOut-->
                <li class="dropdown user user-menu">
                    <a ng-click="logout()" class="dropdown-toggle">
                        <i class="fa fa-fw fa-power-off"></i>
                        <span>Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>