<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <!-- Project wave-->
            <li class="treeview">
                <a>
                    <i class="fa fa-table"></i> <span>Đợt ĐATN</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a ui-sref="student_role.waves_info"><i class="fa fa-circle-o"></i> Thông tin đợt ĐATN</a></li>
                    <li><a ui-sref="student_role.student_register_teacher_for_wave"><i class="fa fa-circle-o"></i> Đăng ký giảng viên</a></li>
                    <li><a ui-sref="student_role.student_report"><i class="fa fa-circle-o"></i> Báo cáo tiến độ</a></li>
                    <li><a ><i class="fa fa-circle-o"></i> Cập nhật đề tài</a></li>
                </ul>
            </li>

            <!-- Personal information-->
            <li>
                <a href="">
                    <i class="fa fa-envelope"></i> <span>Thông tin cá nhân</span>
                    <small class="label pull-right bg-red">12</small>
                </a>
            </li>

            <!-- Mail-->
            <li>
                <a href="">
                    <i class="fa fa-envelope"></i> <span>Hộp thư</span>
                    <small class="label pull-right bg-red">12</small>
                </a>
            </li>

            <li class="header">LABELS</li>
            <li><a><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
        </ul>
    </section>
</aside>