<div class="tab-pane" id="students">
    <div class="box-body">
        <div class="row">
            <div class="alert alert-warning fade in" ng-if="studentsOfWave.length == 0 && !errMessage && !successMessage">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <a class="close" data-dismiss="alert" aria-label="close" ng-click="init()">&times;</a>
                Chưa có sinh viên nào tham gia
            </div>
            <div class="alert alert-danger fade in" ng-if="errMessage">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <a class="close" data-dismiss="alert" aria-label="close" ng-click="init()">&times;</a>
                {{errMessage}}
            </div>
            <div class="alert alert-info fade in" ng-if="infoMessage">
                <a class="close" data-dismiss="alert" aria-label="close" ng-click="init()">&times;</a>
                Sinh viên {{studentUsername}} đã tham gia đợt Đồ án
            </div>
            <div class="alert alert-info fade in" ng-if="successMessage">
                <a class="close" data-dismiss="alert" aria-label="close" ng-click="init()">&times;</a>
                Thêm thành công sinh viên {{studentTemp.username}} ({{studentTemp.name}}) vào đợt Đồ án
            </div>
        </div>

        <div class="borderForm">
            <form name="addStudentforWave" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-7">
                        <input name="studentUsername" ng-model="studentUsername" type="text" class="form-control" id="email" placeholder="Nhập mã sinh viên">
                    </div>
                    <button class="btn btn-primary" type="button" ng-click="addStudentForWave(studentUsername)">Thêm</button>
                </div>
            </form>

            <br>
            <span>Hoặc</span>

            <form style="margin-top: 30px;" ng-submit="addStudentFromFile(fileExcel)" name="fileForm">
                <input
                        ngf-select
                        id="input-id"
                        ng-model="fileExcel"
                        name="file"
                        type="file"
                        class="file"
                        data-allowed-file-extensions='["xlsx", "xls"]'>
            </form>
        </div>

        <table class="table table-hover table-bordered">
            <thead>
            <th>Mã sinh viên</th>
            <th>Họ tên</th>
            <th>Lớp</th>
            <th style="width: 10%;"></th>
            </thead>
            <tbody>
            <tr ng-repeat="x in studentsOfWave">
                <td>{{x.username}}</td>
                <td>{{x.name}}</td>
                <td>{{x.class_}}</td>
                <td><button class="btn">Xóa</button></td>
            </tr>
            </tbody>
        </table>

    </div> <!--close tab times-->
</div>

<script>
    $("#input-id").fileinput();
</script>