<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h3  class="box-title">
            Đợt đồ án học kì {{projectWave.semester}}, năm học {{projectWave.schoolYear}}
        </h3>
        {{projectWave.description}}
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li><a ui-sref="wave.detail.times({projectWaveId: currentProjectWaveId})"> <b class="tag-name">Tiến độ thực hiện</b></a></li>
                        <li><a ui-sref="wave.detail.students({projectWaveId: currentProjectWaveId})"> <b class="tag-name">Danh sách sinh viên</b></a></li>
                        <li><a ui-sref="wave.detail.teachers({projectWaveId: currentProjectWaveId})"><b class="tag-name">Danh sách giảng viên</b></a></li>
                        <li><a ui-sref="wave.detail.assignments({projectWaveId: currentProjectWaveId})"><b class="tag-name">Phân công hướng dẫn</b></a></li>
                        <li><a ui-sref="wave.detail.reports({projectWaveId: currentProjectWaveId})"><b class="tag-name">Báo cáo tiến độ</b></a></li>
                    </ul>
                    <div class="tab-content">
                        <div ui-view="detail_project_wave_tab_view"></div>
                    </div><!-- /.tab-content -->
                </div><!-- /.nav-tabs-custom -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </section><!-- /.content -->
</div>

<script>
    $('ul li').click( function(){
        $('.active').removeClass('active');
        $(this).addClass('active');
    });
</script>