<div class="tab-pane" id="teachers">
    <div class="box-body">

        <button ng-if="!projectWaveInfo.done" data-toggle="modal" data-target=".add_teacher_for_wave_modal" ng-click="getTeachersToAddForProjectWave()" class="btn btn-primary" style="margin-bottom: 20px;">Thêm giảng viên hướng dẫn</button> <br>

        <table class="table table-bordered table-hover table-middle">
            <thead>
            <tr>
                <th>Mã giảng viên</th>
                <th>Họ tên</th>
                <th>Hướng dẫn SL SV</th>
                <th ng-if="!projectWaveInfo.done"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="teacher in teachersOfProjectWave">
                <td><a>{{teacher.username}}</a></td>
                <td>{{teacher.name}}</td>
                <td>{{teacher.maxGuide}}</td>
                <td ng-if="!projectWaveInfo.done">
                    <button ng-click="setTeacherToDelete(teacher)" class="btn" data-toggle="modal" data-target="#deleteTeacherFromWaveModal">Xóa</button>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>

<div class="modal fade add_teacher_for_wave_modal"  aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div>
                <div class="modal-header" style="text-align: center">
                    <h3 class="strong">Thêm giảng viên hướng dẫn</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-middle">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Mã giảng viên</th>
                            <th>Họ tên</th>
                            <th>Hướng dẫn SL SV</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="teacher in teachersToAddForWave">
                            <td><input type="checkbox" data-ng-model="teacher.checked"></td>
                            <td>{{teacher.username}}</td>
                            <td>{{teacher.name}}</td>
                            <td>
                                <input data-ng-model="teacher.maxGuide" type="number" min="0" max="100" ng-disabled="!teacher.checked">
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTeachersForWave()">Lưu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- deleteTeacherFromWaveModal -->
<div class="modal fade" id="deleteTeacherFromWaveModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xóa giảng viên khỏi đợt ĐATN</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa giảng viên khỏi đợt ĐATN?</p>
            </div>
            <div class="modal-footer">
                <button  ng-click="deleteTeacherFromWave()" type="button" class="btn btn-primary" data-dismiss="modal">Xóa</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>
