<div class="tab-pane" id="teachers">
    <div class="box-body">
        <div class="row">
            <div class="alert alert-warning fade in" ng-if="teachersOfWave.length == 0 && !errMessage && !successMessage">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <a class="close" data-dismiss="alert" aria-label="close" ng-click="init()">&times;</a>
                Chưa có giảng viên nào tham gia
            </div>
            <div class="alert alert-danger fade in" ng-if="errMessage">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <a class="close" data-dismiss="alert" aria-label="close" ng-click="init()">&times;</a>
                {{errMessage}}
            </div>
            <div class="alert alert-info fade in" ng-if="infoMessage">
                <a class="close" data-dismiss="alert" aria-label="close" ng-click="init()">&times;</a>
                Giảng viên {{teacherUsername}} đã tham gia đợt Đồ án
            </div>
            <div class="alert alert-info fade in" ng-if="successMessage">
                <a class="close" data-dismiss="alert" aria-label="close" ng-click="init()">&times;</a>
                Thêm thành công giảng viên {{teacherTemp.username}} ({{teacherTemp.name}}) vào đợt Đồ án
            </div>
        </div>

        <form name="addTeacherForWaveForm" class="form-horizontal borderForm" role="form">

            <div class="form-group">
                <label class="control-label col-sm-3" for="username">Mã giảng viên</label>
                <div class="col-sm-6" ng-class="{'has-error' : addTeacherForWaveForm.teacherUsername.$invalid && !addTeacherForWaveForm.teacherUsername.$pristine}">
                    <input name="teacherUsername" ng-model="teacherUsername" type="text" class="form-control" id="username" placeholder="Mã giảng viên" required>
                    <label ng-if="addTeacherForWaveForm.teacherUsername.$invalid && !addTeacherForWaveForm.teacherUsername.$pristine" class="control-label" for="username"><i class="fa fa-times-circle-o"></i> Mã giảng viên không được trống</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="numberStudent">Hướng dẫn số lượng sinh viên</label>
                <div class="col-sm-6" ng-class="{'has-error' : addTeacherForWaveForm.numberOfStudent.$invalid && !addTeacherForWaveForm.numberOfStudent.$pristine}">
                    <input ng-model="numberOfStudent" name="numberOfStudent" required min="1" type="number" class="form-control" id="numberStudent" placeholder="Hướng dẫn số lượng sinh viên">
                    <label ng-if="addTeacherForWaveForm.numberOfStudent.$invalid && !addTeacherForWaveForm.numberOfStudent.$pristine" class="control-label" for="numberStudent"><i class="fa fa-times-circle-o"></i> Số lượng sinh viên không được trống và phải lớn hơn 0</label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3"></label>
                <div class="col-sm-6">
                    <button class="btn btn-primary" type="button" ng-click="addTeacherForProjectWave()">Thêm</button>
                    <button class="btn" type="reset" ng-click="cancel()">Hủy</button>
                </div>
            </div>

            <div>
                <label class="col-sm-3"></label>
                <a class="link">Thêm giảng viên từ file</a>
            </div>

        </form>

    </div> <!--close tab times-->
</div>
