<!--<header class="main-header">-->

    <!--&lt;!&ndash; Logo &ndash;&gt;-->
    <!--<a href="" class="logo">-->
        <!--&lt;!&ndash; mini logo for sidebar mini 50x50 pixels &ndash;&gt;-->
        <!--<span class="logo-mini"><b>ITF</b></span>-->
        <!--&lt;!&ndash; logo for regular state and mobile devices &ndash;&gt;-->
        <!--<span class="logo-lg"><b>IT F</b>aculty</span>-->
    <!--</a>-->

    <!--&lt;!&ndash; Header Navbar: style can be found in header.less &ndash;&gt;-->
    <!--<nav class="navbar navbar-static-top" role="navigation">-->
        <!--&lt;!&ndash; Sidebar toggle button&ndash;&gt;-->
        <!--<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
        <!--</a>-->
        <!--&lt;!&ndash; Navbar Right Menu &ndash;&gt;-->
        <!--<div class="navbar-custom-menu">-->
            <!--<ul class="nav navbar-nav">-->
                <!--&lt;!&ndash; log out &ndash;&gt;-->
                <!--<li class="dropdown user user-menu">-->
                    <!--<a href="#" class="dropdown-toggle">-->
                        <!--<span class="glyphicon glyphicon-log-in"></span>-->
                        <!--<span class="hidden-xs">Log in</span>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->

    <!--</nav>-->
<!--</header>-->
<header class="main-header">

    <!-- Logo -->
    <a href="" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>ITF</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>IT F</b>aculty</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-danger">4</span>
                    </a>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle">
                        <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Alexander Pierce</span>
                    </a>
                </li>
                <!-- log out -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle">
                        <span class="glyphicon glyphicon-new-window"></span>
                        <span class="hidden-xs">Log out</span>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
</header>

