<!--<form name="loginForm" ng-submit="login(user)" class="form-signin col-xs-3 col-xs-offset-5" ng-controller="AuthCtrl">-->
    <!--<h2 class="form-signin-heading">IT Faculty</h2>-->
    <!--<input ng-model="user.username" type="text" class="form-control" name="username" placeholder="Tên đăng nhập" autofocus="" required/>-->
    <!--<input ng-model="user.password" type="password" class="form-control" name="password" placeholder="Mật khẩu" required/>-->
    <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>-->
<!--</form>-->

<div class="row">

<div class="col-xs-3 col-xs-offset-5">

    <h2 class="form-signin-heading">IT Faculty</h2>

    <!-- FORM ============ -->
    <form name="loginForm" ng-submit="login(user)" novalidate ng-controller="AuthCtrl">

        <!-- ERROR-->
        <div class="alert alert-danger fade in" ng-if="error">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Tên đăng nhập hoặc mật khẩu không đúng.</strong>
        </div>

        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
            <label>Tên đăng nhập</label>
            <input ng-model="user.username" type="text" name="username" placeholder="Tên đăng nhập" class="form-control" required>
            <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Bạn phải nhập tên đăng nhập.</p>
        </div>

        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
            <label>Mật khẩu</label>
            <input ng-model="user.password" type="password" name="password" placeholder="Mật khẩu" class="form-control" required>
            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Bạn phải nhập mật khẩu.</p>
            <!--<p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>-->
            <!--<p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>-->
        </div>

        <!-- EMAIL -->
        <!--<div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">-->
            <!--<label>Email</label>-->
            <!--<input type="email" name="email" class="form-control" ng-model="user.email">-->
            <!--<p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Enter a valid email.</p>-->
        <!--</div>-->

        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Đăng nhập</button>

    </form>
</div>
<!--<div class="col-sm-6">-->
    <!--&lt;!&ndash; VALIDATION TABLES ======== &ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col-xs-3">-->
            <!--<h3>Form</h3>-->
            <!--<table class="table table-bordered">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.$valid, danger: userForm.$invalid }">Valid</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.$pristine, danger: !userForm.$pristine }">Pristine</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.$dirty }">Dirty</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
            <!--<h3>Name</h3>-->
            <!--<table class="table table-bordered">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.name.$valid, danger: userForm.name.$invalid }">Valid</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.name.$pristine, danger: !userForm.name.$pristine }">Pristine</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.name.$dirty }">Dirty</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.name.$touched }">Touched</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
            <!--<h3>Username</h3>-->
            <!--<table class="table table-bordered">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.username.$valid, danger: userForm.username.$invalid }">Valid</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.username.$pristine, danger: !userForm.username.$pristine }">Pristine</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.username.$dirty }">Dirty</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.username.$touched }">Touched</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
            <!--<h3>Email</h3>-->
            <!--<table class="table table-bordered">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.email.$valid, danger: userForm.email.$invalid }">Valid</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.email.$pristine, danger: !userForm.email.$pristine }">Pristine</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.email.$dirty }">Dirty</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td ng-class="{ success: userForm.email.$touched }">Touched</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
</div>