<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h3  class="box-title">
            Đợt đồ án học kì {{projectWave.semester}}, năm học {{projectWave.schoolYear}}
        </h3>
        {{projectWave.description}}
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a ui-sref="wave.detail.times" data-toggle="tab"> <b class="tag-name">Tiến độ thực hiện</b></a></li>
                        <li><a ui-sref="wave.detail.tabs.students" data-toggle="tab"> <b class="tag-name">Danh sách sinh viên</b></a></li>
                        <li><a ui-sref="wave.detail.tabs.teachers" data-toggle="tab"><b class="tag-name">Danh sách giảng viên</b></a></li>
                        <li><a ui-sref="wave.detail.tabs.assign" data-toggle="tab"><b class="tag-name">Danh sách phân công hướng dẫn</b></a></li>
                    </ul>
                    <div class="tab-content">
                        <div ui-view="detail_project_wave_tab_view"></div>
                    </div><!-- /.tab-content -->
                </div><!-- /.nav-tabs-custom -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </section><!-- /.content -->
</div>