body{
    font-size: 15px;
}
.main-footer {
    background: #DDD;
}
.btn-in-row-table{
    right: 0px;
    background: none;
    height: 18px;
    width: 18px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    color: rgb(97,97,97);
    min-height: 24px;
    min-width: 24px;
    text-align: center;
    font-size: 100%;
    cursor: pointer;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border: none;
    font: 13.3333px Arial;
    font-family: Roboto,'Helvetica Neue',sans-serif;
}

.border-table{
    border: 1px solid #d2d6de;
    border-collapse: inherit;
}

.error{
    border: 1px solid #a94442;
    border-collapse: inherit;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    /*border: 1px solid #a94442 !important;*/
}

.tag-name{
    color: #245C8C;
}

.file-preview{
    border: none;
}

.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1;
    font-family: Roboto,'Helvetica Neue',sans-serif;
}

.alert-info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #faebcc;
}

.alert a {
    color: #fff;
    text-decoration: none;
}

.close:link {
    text-decoration: none;
}

.close:visited {
    text-decoration: none;
}

.close:hover {
    text-decoration: none;
}

.close:active {
    text-decoration: none;
}

.borderForm{
    padding: 30px 19px 25px;
    margin-left: -14px;
    margin-right: -15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-color: rgb(224,224,224);
    border-radius: 3px;
    opacity: 1;
}

.link{
    text-decoration: underline;
    cursor: pointer;
}

.strong{
    font-weight: bold !important;
}

.borderInBox{
    padding: 30px 19px 25px;
    margin-left: 3px;
    margin-right: 8px;
    margin-bottom: 37px;
    margin-top: 22px;
}

.table-middle td {
    text-align: center;
}

.login_div{
    min-height: 100vh;
}